import instance from '@/utils/request/'

export function get${data.className}List () {
    return instance({
        method: 'GET',
        url: '/${data.requestName}/'
    })
}

export function get${data.className}One (id) {
    return instance({
        method: 'GET',
        url: '/${data.requestName}/' + id
    })
}

export function save${data.className} (data) {
    return instance({
        method: 'POST',
        url: '/${data.requestName}/',
        data: data
    })
}

export function update${data.className} (data, id) {
    return instance({
        method: 'PUT',
        url: '/${data.requestName}/' + id,
        data: data
    })
}

export function del${data.className} (id) {
    return instance({
        method: 'DELETE',
        url: '/${data.requestName}/' + id
    })
}

export function get${data.className}Page (obj) {
    return instance({
        method: 'POST',
        url: '/${data.requestName}/page',
        data: obj
    })
}