package ${saveAOPackage};

import io.swagger.annotations.ApiModelProperty;
import lombok.Getter;
import lombok.Setter;

import java.io.Serializable;
import java.util.Date;
import java.lang.Integer;
import javax.validation.constraints.*;

/**
 * ${config.desc} Ins/Upd AO对象
 *
 * @author ${config.author}
 * @since ${Date}
 */
@Getter
@Setter
public class ${saveAO} {
#set( $left = "(" )
#set( $right = ")" )
#set( $message = "message = " )
#foreach ($column in $data.columns)
#if($column.insert)
    /**
     * $column.columnComment
     */
#if($column.insertType)
    $column.insertType$left${message}"${column.columnComment}不能为空"$right
#end
    @ApiModelProperty("$column.columnComment")
    private $column.javaType $column.columnName;
#end
#end

}
