package ${servicePackage};

import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${entityImport};
import ${saveAOImport};
import ${pageAOImport};

import java.util.List;

/**
 * ${config.desc} Service
 *
 * @author ${config.author}
 * @since ${Date}
 */
public interface ${service} {

    /**
     * <p>查询所有${config.desc}
     * <p>author: ${config.author}
     *
     * @return java.util.List<${entityImport}>
     * @since ${Date}
     **/
    List<${entity}> findAll();

    /**
     * <p>查询单个${config.desc}
     * <p>author: ${config.author}
     *
     * @param id    查询ID
     * @param isExc 未查询到是否抛出异常
     * @return ${entityImport}
     * @since ${Date}
     **/
    ${entity} findOne(${data.primaryType} id,boolean isExc);

    /**
     * <p>默认分页请求${config.desc}
     * <p>author: ${config.author}
     *
     * @param pageAO 分页入参查询参数
     * @since ${Date}
     * @return ${entityImport}
     **/
    Page<${entity}> findPage(${pageAO} pageAO);

    /**
     * <p>保存一个${config.desc}
     * <p>author: ${config.author}
     *
     * @param params 保存入参信息
     * @since ${Date}
     * @return boolean
     **/
    boolean save(${saveAO} params);

    /**
     * <p>修改一个${config.desc}
     * <p>author: ${config.author}
     *
     * @param id     被修改的ID
     * @param params 被修改的信息
     * @since ${Date}
     * @return boolean
     **/
    boolean updateById(${saveAO} params, ${data.primaryType} id);

    /**
     * <p>删除一个${config.desc}
     * <p>author: ${config.author}
     *
     * @param id 被删除的ID
     * @since ${Date}
     * @return boolean
     **/
    boolean deleteById(${data.primaryType} id);
}
